body{  color:white; 
  background:linear-gradient(90deg, #0b131b, #010f1b);;}

::selection{
  color:aqua;
} 
/*navbar inhanching */ 
.navi{
  background:linear-gradient(90deg, #727374, #010f1b);;
}

.navi .btn:hover{

font-size: larger;
}